[Unit]
Description=create persistent partition
ConditionPathExists=/opt/02-format_partition.sh

[Service]
Type=forking
ExecStartPre=/bin/bash /opt/01-create-partition.sh
ExecStart=/bin/bash /opt/02-format_partition.sh
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
